<style>
 .coding_poster{
    background-image: url(<%= image_path 'coding_poster_500.png' %>);
    background-size: 100%;
    background-repeat: no-repeat;
    width: 500px;
    height: 707px;
}

 .coding_poster_m{
    background-image: url(<%= image_path 'coding_poster_250.png' %>);
    background-size: 100%;
    background-repeat: no-repeat;
    width: 251px;
    height: 500px;
}
</style>


<%= render 'nav'%>


<div class="container center_hs">
<h1 class="jua offline_apply_hs">2 0 1 8 여 름 코 딩 특 강 신 청</h1>
<div>
 
  <div
    
 <div class="qna_form center_hs">    
    <%= form_tag('/offlines/create', multipart: true, :id => 'contactform') do %>
    
  <!-- <p  class="form-group col-md-8 push-md-2 col-sm-10 push-sm-1 mb-5 ">
           <div class="coding_poster"><#%= image_tag("coding_new_poster.png")%> </div>    
            </p> -->
 
  <div id="div2" class="offline_page ">
        <div class="coding_poster hidden-sm-down"></div>
        <div class="row no-gutters">
            <div class="col-12 hidden-md-up pt-5 coding_poster_m"></div>    
        </div>
    </div>
    
        <p  class="form-group col-md-8 push-md-2 col-sm-10 push-sm-1 mb-5 ">
            <label for="team_name"><span class="offline_new_title">학 교 명</span></label>
            <%= text_field_tag('team_name',nil, size: 70, placeholder: "",class:'form-control', :id => "contactteam") %>   
        </p>
        <p  class="form-group col-md-8 push-md-2 col-sm-10 push-sm-1 mb-5 ">
            <label for="address"><span class="offline_new_title">학 년</span></label>
            <%= text_field_tag('address',nil, size: 70, placeholder: "2018년 1학기 기준 학년을 적어주세요.", class: 'form-control', :id => "contactaddress") %>
        </p>
        <p  class="form-group col-md-8 push-md-2 col-sm-10 push-sm-1 mb-5 ">
            <label for="name"><span class="offline_new_title">이 름</span></label>
            <%= text_field_tag('name',nil, size: 70, class:'form-control', :id => "contactname") %>
        </p>
        <p  class="form-group col-md-8 push-md-2 col-sm-10 push-sm-1 mb-5 ">
            <label for="phone"><span class="offline_new_title">핸 드 폰 번 호</span></label>
            <%= text_field_tag('phone',nil, size: 70, placeholder: "010-0000-0000", class:'form-control', :id => "contactphone") %>
        </p>
        <p  class="form-group col-md-8 push-md-2 col-sm-10 push-sm-1 mb-5 ">
            <label for="date"><span class="offline_new_title">옷 사 이 즈</span></label>
            <%= text_area_tag('date',nil, cols: 70, rows: 5, placeholder: "반팔 티셔츠 배부 예정입니다. 사이즈를 적어주세요. S(90), M(95), L(100), XL(105)", class:'form-control', :id => "contactdate") %>
        </p>
        <p  class="form-group col-md-8 push-md-2 col-sm-10 push-sm-1 mb-5 ">
            <label for="content"><span class="offline_new_title">지 원 동 기</span></label>
            <%= text_area_tag('content',nil, cols: 70, rows: 10, placeholder: "1) 코딩 캠프에 지원한 이유(캠프에 성실히 참여할 학생을 선발하기 위한 기준으로 사용할 예정입니다.) 2) 코딩 경험(코딩 캠프는 입문자를 위해 진행됩니다. 경험을 묻는 이유는 원활한 강의 진행을 위해서이니 경험이 없거나 적어도 걱정 마세요!) 감사합니다.", class:'form-control', :id => "contactcontent")  %>
        </p>
 
        <p  class="form-group col-md-8 push-md-2 col-sm-10 push-sm-1 mb-5 ">
            <span class="offline_new_title"></span>
            <%= hidden_field_tag('category','코딩') %>
        </p>
 
        <p  class="form-group col-md-8 push-md-2 col-sm-10 push-sm-1 mb-5 ">
            <%= submit_tag '',class: "submit_hs", :id => 'contactbtn' %>
        </p>-
        <div class="blank">
        </div>

    <% end %>

    </div>
</div>
</div>


<!-- required form -->
<script src="js/jquery.js"></script>
<script src="js/bootstrap.min.js"></script>
<script>

function validateText(id)
{
   
    if($("#"+id).val()==null || $("#"+id).val()=="")
    {
        var div = $("#"+id).closest("div");
        div.addClass("has-danger");
        // div.addClass("form-control-danger");
        return false;
    }
    else 
    {
        var div = $("#"+id).closest("div");
        div.removeClass("has-danger");  
        return true;      
    }
}

$(document).ready(

      function(){
          $("#contactbtn").click(function()
          {
              if(!validateText("contactteam"))
              {
                  return false;
              }
              if(!validateText("contactaddress"))
              {
                  return false;
              }
              if(!validateText("contactname"))
              {
                  return false;
              }
              if(!validateText("contactphone"))
              {
                  return false;
              }
              if(!validateText("contactdate"))
              {
                  return false;
              }
              if(!validateText("contactcontent"))
              {
                  return false;
              } 

              $("form#contactform").submit;

          });
      }

    );
</script>
